<table class="table table-striped" style="margin-top: 20px;">
	<tr>
		<th class="col-lg-8">Name</th>
		<th class="col-lg-4">Cost</th>
	</tr>

	<tr ng-repeat="scotch in scotches">
	  	<td>{{scotch.name}}</td>
	  	<td>{{scotch.price}}</td> 
	</tr>
</table>