<div class="col-lg-12">
	<div class="jumbotron" style="text-align: center;">
	  	<h1>The Homey Page</h1>
	  	<p> This page demonstrates <span style="color:red;">nested</span> views </p>
	  	<a ui-sref=".list"><button type="button" class="btn btn-primary">List</button></a>
	  	<a ui-sref=".paragraph"><button type="button" class="btn btn-danger">Paragraph</button></a>
	</div>

	<div ui-view></div>
</div>